body {padding:0;margin:0;text-align:center;color:#585858;font-size:14px;font-family:"microsoft yahei","微软雅黑";}
h1, h2, h3, h4, h5, h6, form, div, p, i, img, ul, li, ol, table, tr, td,th, fieldset, label, legend,button,input { margin:0;padding:0;}
li{list-style:none;}
a img{border:none;}
a:link{text-decoration:none;color:#07519A;}
a:visited{text-decoration:none;color:#07519A;}
a:active,a:hover{text-decoration:none;color:#07519A;}
input,textarea:focus{ outline: none;}
.clearfix{ content: ""; display: block; overflow: hidden; clear: both;}
.mb0{ margin-bottom:0 !important;}
.mb5{ margin-bottom:5px !important;}
.mb10{ margin-bottom:10px !important;}
.mt20{ margin-top:20px !important;}
.mt30{ margin-top:30px !important;}
.fl{ float: left;}
.fr{ float: right;}
.w1200{ width: 1200px; margin: 0 auto;}
.w125{ width: 125px !important;}
.header{ height: 80px; background: #fff; padding-top: 20px;}
.logo{ margin-top: 5px;}
.nav li{ line-height: 80px; margin-right: 40px; float: left;}
.nav li a{ color: #2b2b2b; font-size: 16px;}
.nav li:hover a,.nav li.active a{ color: #00d2c8;}
.loginRegist{ float: right; margin-top: 22px;}
.loginRegist > a{ width: 94px; height: 34px; margin-left: 3px; display: inline-block; font-size: 16px; border: 1px solid #959595; border-radius: 5px; line-height: 34px; text-align: center; color: #3d3d3d;}
.loginRegist > a:hover,.loginRegist > a.active{ background: #00d2c8; color: #fff; border: 1px solid #00d2c8;}
.loginRegist .regist:before{ content: "\e611"; font-family:"iconfont"; margin-right: 10px;}
.loginRegist .login:before{ content: "\e60f"; font-family:"iconfont"; margin-right: 10px;}
.footer{ background: #393939; padding-bottom: 45px;}
.footer .subnav li{ float: left;}
.footer .subnav li a{ color: #fff; font-size: 16px;}
.footer .subnav li span{ color: #737373; font-size: 14px; display: inline-block; margin: 0 25px;}
.footer .fl p{ color: #9c9c9c; text-align: left; margin-top: 15px;}
.footer .tel{ font-size: 24px; color: #fff; text-align: left;}
.footer .tel:before{ content: "\e60b"; font-family:"iconfont"; color: #d7d7d7; font-size: 24px; margin-right: 14px;}
.footer .fr p{ color: #9c9c9c; margin-top: 5px;}
.scancode{ width: 100%; padding-top: 50px; margin-bottom: 35px; padding-bottom: 37px; background: #f5f6f6;}
.scancode .blogo{ display: inline-block; vertical-align: top; padding-top: 20px; margin-right: 35px;}
.scancode .blogo p{ font-size: 18px; color: #323232;}
.scancode .code{ display: inline-block; margin-left: 28px;}



/* 登陆、注册、找回密码 */
.bgbox .link{ padding-top: 12px;}
.bgbox .link span{ color: #666; font-size: 12px;}
.bgbox .link a{ color: #14a8a1; font-size: 12px;}
.bg{position:fixed; width:100%;left:0;bottom:90px;top:0; background: url(../images/bg.jpg) no-repeat center; background-size:cover;}
.subfooter{position: fixed; left:0; bottom: 0; width: 100%;  padding-bottom: 25px; background: #393939; }
.subfooter a{ font-size: 14px; color: #fff;}
.subfooter span{ font-size: 12px; color: #fff; margin: 0 10px;}
.subfooter p{ font-size: 12px; color: #666; margin: 10px 0;}
.bgbox{ width: 290px; padding: 0 30px 30px; background: #fff; border-radius: 10px; box-shadow: 0 5px 20px #666; position: fixed; z-index: 2; top: 35%; left: 50%; margin-left: -175px;}
.bgbox .title{ font-size: 20px; color: #737373; padding-top: 42px; padding-bottom: 35px;}
.bgbox .title img{ display: inline; vertical-align: middle; margin-right: 10px;max-height:45px;max-width:250px}
.bgbox .inputbox{ text-align: left;}
.bgbox .inputlist{ padding-left: 35px; margin-bottom: 20px; position: relative;}
.bgbox .inputlist input{ width: 100%; padding: 0 10px; height: 40px; line-height: 40px; border: 1px solid #eeeeee; border-radius: 7px; box-sizing: border-box; background: #eee;}
.bgbox .inputlist input:focus{ border: 1px solid #b3eae7; box-shadow: 0 0 3px #d9f4f3;}
.bgbox .inputtel:before{ content: "\e61d"; font-family: "iconfont"; font-size: 24px; line-height: 40px; color: #dcdcdc; position: absolute; left: 0;}
.bgbox .inputpassword:before{ content: "\e61e"; font-family: "iconfont"; font-size: 24px; line-height: 40px; color: #dcdcdc; position: absolute; left: 0;}
.bgbox .inputconfirmpassword:before{ content: "\e61b"; font-family: "iconfont"; font-size: 24px; line-height: 40px; color: #dcdcdc; position: absolute; left: 0;}
.bgbox .inputcode:before{ content: "\e61c"; font-family: "iconfont"; font-size: 24px; line-height: 40px; color: #dcdcdc; position: absolute; left: 0;}
.bgbox .inputcode input{ float: left; margin-right: 5px;}
.bgbox .inputcode img{ vertical-align: middle;}
.bgbox .inputcode a{ font-size: 12px; vertical-align: middle;}
.bgbox input.getcode{ width: 95px; line-height: normal; background: #f29b28; float: right; color: #fff;}
.bgbox .input-btn input{ width: 100%; height: 42px; border: none; background: #00a29a; color: #fff; font-size: 18px; border-radius: 10px;}
.bgbox .text p{ font-size: 12px; color: #666; margin-top: 10px;}
.bgbox .text p a{ color: #f29b28; font-size: 11px;}
.bgbox .text p a.linklogin{ color: #ff3d00; font-size: 12px; text-decoration: underline;}
.inputbox .red{ color:#ff0000; font-size:12px;}
.red1{ color:#ff0000; font-size:12px;}

/*新样式*/
.new-bg{position:fixed; width:100%;left:0;bottom:90px;top:0; background: url(../images/new-bg.jpg) no-repeat center; background-size:cover;}
.xiaokeduo-login-container{
    position:fixed;
    min-height:360px;
    width:730px;
    top:40%;
    left:50%;
    margin-left:-365px;
    margin-top: -150px;
    background-color:#fff;
    border-radius:5px;
    box-shadow:0 0 46px rgba(0,0,0,0.05);
    -moz-box-shadow:0 0 46px rgba(0,0,0,0.05);
    z-index:100;
    text-align:left;
}
.xiaokeduo-login-container .red{
    color:red;
}
.qr-code{
    position:absolute;
    width:50%;
    height:100%;
    left:0;
    top:0;
    background-color:#00C7BD;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    text-align:center;
}
.qr-code-content{
    position:absolute;
    left:0;
    width:100%;
    top:50%;
    margin-top:-140px;
}
.qr-code-title{
    font-size:28px;
    color:#fff;
    margin-bottom:30px;
}
.qr-code-img{
    padding:10px;
    background-color:#fff;
    margin-bottom:20px;
}
.qr-code-content .text{
    font-size:18px;
    color:#fff;
}
.login-content{
    padding:55px 35px 46px 400px;
}
.login-content .form-group input{
    display:block;
    width:100%;
    height:40px;
    border:1px solid #7DCFCB;
    border-radius:5px;
    padding:10px;
    padding-top:12px;
    box-sizing: border-box;
    line-height:20px;
}
.login-content .form-group{
    margin-bottom:20px;
}
.login-content .form-group.pass{
    margin-bottom:22px;
}
.login-content .form-group .btn{
    display:block;
    width:100%;
    height:40px;
    font-size:18px;
    background-color:#00C7BD;
    border-radius:5px;
    border:none;
    color:#fff;
    outline:none;
    cursor:pointer;
    transition:all 0.3s;
    padding:0;
}
.login-content .form-group .btn:active{
    background-color:#12AFA5;
}
.login-content .form-group .btn:disabled{
    background-color:#ccc;
}
.other-operations{
    font-size:12px;
}
.other-operations:after{
    clear:both;
    content:'';
    display:block;
    height:0;
}
.other-operations a{
    color:#FA8A07;
}
.login-content .login-logo{
    height:41px;
    margin-bottom:20px;
    background: url(../images/logo-new.png) no-repeat center;
}
.login-content .login-logo1{
    height:41px;
    margin-bottom:20px;
    background: url(../images/logo-new1.png) no-repeat center;
}
.login-find-pwd { background: url(../images/logo-find-pwd.png) no-repeat center center!important; }
.login-reset-pwd { background: url(../images/logo-reset-pwd.png) no-repeat center center!important; }
.text-center{ text-align:center;}
.text-bg-yellow{ background:#ffff00; display:inline-block; padding:0 8px; border-radius:3px; color:#000; font-size:14px;}
.login-content .inputlist{ padding-left: 35px; margin-bottom: 20px; position: relative;}
.login-content .inputlist input{ width: 100%; padding: 0 10px; height: 40px; line-height: 40px; border: 1px solid #eeeeee; border-radius: 7px; box-sizing: border-box; background: #eee;}
.login-content .inputlist input:focus{ border: 1px solid #b3eae7; box-shadow: 0 0 3px #d9f4f3;}
.login-content input.getcode{ width: 120px; line-height: normal; background: #f29b28; border-color:#f29b28; cursor:pointer; float: right; color: #fff;}
.code-text-promt {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    color: #999;
}